Python provides another composite data type called a dictionary, which is similar to a list in that it is a collection of objects.

Here’s what you’ll learn in this tutorial: You’ll cover the basic characteristics of Python dictionaries and learn how to access and manage dictionary data. Once you have finished this tutorial, you should have a good sense of when a dictionary is the appropriate data type to use, and how to do so.

Dictionaries and lists share the following characteristics:

* Both are mutable.
* Both are dynamic. They can grow and shrink as needed.
* Both can be nested. A list can contain another list. A dictionary can contain another dictionary. A dictionary can also contain a list, and vice versa.

Dictionaries differ from lists primarily in how elements are accessed:

* List elements are accessed by their position in the list, via indexing.
* Dictionary elements are accessed via keys.

### **Defining a Dictionary**
Dictionaries are Python’s implementation of a data structure that is more generally known as an associative array. A dictionary consists of a collection of key-value pairs. Each key-value pair maps the key to its associated value.

You can define a dictionary by enclosing a comma-separated list of key-value pairs in curly braces ({}). A colon (:) separates each key from its associated value:


```d = {
    <key>: <value>,
    <key>: <value>,
      .
      .
      .
    <key>: <value>
}```

#### The following defines a dictionary that maps a location to the name of its corresponding Major League Baseball team:

In [1]:
MLB_team = {
    'Colorado' : 'Rockies',
    'Boston'   : 'Red Sox',
    'Minnesota': 'Twins',
    'Milwaukee': 'Brewers',
    'Seattle'  : 'Mariners'
}

Once you’ve defined a dictionary, you can display its contents, the same as you can do for a list. All three of the definitions shown above appear as follows when displayed:

In [3]:
type(MLB_team)

dict

In [4]:
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Mariners'}

##### The entries in the dictionary display in the order they were defined. But that is irrelevant when it comes to retrieving them. Dictionary elements are not accessed by numerical index:

In [5]:
MLB_team[1]

KeyError: 1

### Accessing Dictionary Values
Of course, dictionary elements must be accessible somehow. If you don’t get them by index, then how do you get them?

A value is retrieved from a dictionary by specifying its corresponding key in square brackets ([]):

In [6]:
MLB_team['Minnesota']

'Twins'

In [7]:
MLB_team['Colorado']

'Rockies'

If you refer to a key that is not in the dictionary, Python raises an exception:

In [9]:
MLB_team['Algiers']

KeyError: 'Algiers'

### Adding an entry to an existing dictionary is simply a matter of assigning a new key and value:

In [11]:
MLB_team['Kansas City'] = 'Royals'
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Seattle': 'Mariners',
 'Kansas City': 'Royals'}

### To delete an entry, use the del statement, specifying the key to delete:

In [12]:
del MLB_team['Seattle']
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Twins',
 'Milwaukee': 'Brewers',
 'Kansas City': 'Royals'}

### Building a Dictionary Incrementally

In [15]:
person = {}
type(person)


person['fname'] = 'Joe'
person

{'fname': 'Joe'}

In [16]:
person['lname'] = 'Fonebone'
person

{'fname': 'Joe', 'lname': 'Fonebone'}

In [17]:
person['age'] = 51
person['spouse'] = 'Edna'
person['children'] = ['Ralph', 'Betty', 'Joey']
person['pets'] = {'dog': 'Fido', 'cat': 'Sox'}
person

{'fname': 'Joe',
 'lname': 'Fonebone',
 'age': 51,
 'spouse': 'Edna',
 'children': ['Ralph', 'Betty', 'Joey'],
 'pets': {'dog': 'Fido', 'cat': 'Sox'}}

### Once the dictionary is created in this way, its values are accessed the same way as any other dictionary:

In [18]:
person['fname']

'Joe'

In [19]:
person['pets']

{'dog': 'Fido', 'cat': 'Sox'}

## Retrieving the values in the sublist or subdictionary requires an additional index or key:

In [20]:
 person['children']

['Ralph', 'Betty', 'Joey']

In [21]:
 person['children'][-1]

'Joey'

### restrictions that dictionary keys must abide by.

First, a given key can appear in a dictionary only once. Duplicate keys are not allowed. A dictionary maps each key to a corresponding value, so it doesn’t make sense to map a particular key more than once.

You saw above that when you assign a value to an already existing dictionary key, it does not add the key a second time, but replaces the existing value:

In [31]:
MLB_team = {
    'Colorado' : 'Rockies',
    'Boston'   : 'Red Sox',
    'Minnesota': 'Twins',
    'Milwaukee': 'Brewers',
    'Seattle'  : 'Mariners'
}

MLB_team['Minnesota'] = 'Timberwolves'
MLB_team

{'Colorado': 'Rockies',
 'Boston': 'Red Sox',
 'Minnesota': 'Timberwolves',
 'Milwaukee': 'Brewers',
 'Seattle': 'Mariners'}

## Operators and Built-in Functions
You have already become familiar with many of the operators and built-in functions that can be used with strings, lists, and tuples. Some of these work with dictionaries as well.

For example, the in and not in operators return True or False according to whether the specified operand occurs as a key in the dictionary:

In [33]:
MLB_team = {
    'Colorado' : 'Rockies',
    'Boston'   : 'Red Sox',
    'Minnesota': 'Twins',
    'Milwaukee': 'Brewers',
    'Seattle'  : 'Mariners'
}

'Milwaukee' in MLB_team

True

In [34]:
'Toronto' in MLB_team

False

In [35]:
'Toronto' not in MLB_team

True

In the second case, due to short-circuit evaluation, the expression MLB_team['Toronto'] is not evaluated, so the KeyError exception does not occur.

The len() function returns the number of key-value pairs in a dictionary:

In [36]:
MLB_team = {
    'Colorado' : 'Rockies',
    'Boston'   : 'Red Sox',
    'Minnesota': 'Twins',
    'Milwaukee': 'Brewers',
    'Seattle'  : 'Mariners'
}
len(MLB_team)

5

## **Built-in Dictionary Methods**
As with strings and lists, there are several built-in methods that can be invoked on dictionaries. In fact, in some cases, the list and dictionary methods share the same name. (In the discussion on object-oriented programming, you will see that it is perfectly acceptable for different types to have methods with the same name.)

The following is an overview of methods that apply to dictionaries:

### d.clear()
> Clears a dictionary.

d.clear() empties dictionary d of all key-value pairs:

In [39]:
d = {'a': 10, 'b': 20, 'c': 30}
d

{'a': 10, 'b': 20, 'c': 30}

In [40]:
d.clear()
d

{}

## d.get(<key>[, <default>])
Returns the value for a key if it exists in the dictionary.

The Python dictionary .get() method provides a convenient way of getting the value of a key from a dictionary without checking ahead of time whether the key exists, and without raising an error.

d.get(<key>) searches dictionary d for <key> and returns the associated value if it is found. If <key> is not found, it returns None:

In [42]:
d = {'a': 10, 'b': 20, 'c': 30}

print(d.get('b'))
print(d.get('z'))

20
None

# If 'key' is not found and the optional 'default' argument is specified, that value is returned instead of None:

In [43]:
print(d.get('z', -1))

-1

## d.items()
Returns a list of key-value pairs in a dictionary.

d.items() returns a list of tuples containing the key-value pairs in d. The first item in each tuple is the key, and the second item is the key’s value:

In [44]:
d = {'a': 10, 'b': 20, 'c': 30}
d

{'a': 10, 'b': 20, 'c': 30}

In [45]:
d.items()

dict_items([('a', 10), ('b', 20), ('c', 30)])

In [46]:
list(d.items())

[('a', 10), ('b', 20), ('c', 30)]

In [47]:
list(d.items())[1][0]

'b'

In [48]:
list(d.items())[1][1]

20

## d.keys()
Returns a list of keys in a dictionary.

d.keys() returns a list of all keys in d:

In [49]:
d = {'a': 10, 'b': 20, 'c': 30}
d

{'a': 10, 'b': 20, 'c': 30}

In [50]:
list(d.keys())

['a', 'b', 'c']

In [51]:
list(d)

['a', 'b', 'c']

d.values()
Returns a list of values in a dictionary.

d.values() returns a list of all values in d:

In [52]:
d = {'a': 10, 'b': 20, 'c': 30}
d


list(d.values())

[10, 20, 30]

Any duplicate values in d will be returned as many times as they occur:

In [55]:
d = {'a': 10, 'b': 10, 'c': 10}
list(d.values())

[10, 10, 10]

### d.pop("key"[, "default"])
Removes a key from a dictionary, if it is present, and returns its value.

If "key" is present in d, d.pop("key") removes "key" and returns its associated value:

In [56]:
d = {'a': 10, 'b': 20, 'c': 30}

d.pop('b')

d

{'a': 10, 'c': 30}

### d.popitem()
Removes a key-value pair from a dictionary.

d.popitem() removes the last key-value pair added from d and returns it as a tuple:

In [57]:
d = {'a': 10, 'b': 20, 'c': 30}

d.popitem()

d

{'a': 10, 'b': 20}

In [58]:
d.popitem()

d

{'a': 10}

## d.update("obj")
Merges a dictionary with another dictionary or with an iterable of key-value pairs.

If "obj" is a dictionary, d.update("obj") merges the entries from "obj" into d. For each key in "obj":

* If the key is not present in d, the key-value pair from "obj" is added to d.
* If the key is already present in d, the corresponding value in d for that key is updated to the value from "obj".
Here is an example showing two dictionaries merged together:

In [60]:
d1 = {'a': 10, 'b': 20, 'c': 30}
d2 = {'f': 200, 'k': 400}

d1.update(d2)
d1

{'a': 10, 'b': 20, 'c': 30, 'f': 200, 'k': 400}

In [61]:
d1 = {'a': 10, 'b': 20, 'c': 30}
d2 = {'b': 200, 'd': 400}

d1.update(d2)
d1

{'a': 10, 'b': 200, 'c': 30, 'd': 400}

In this example, key 'b' already exists in d1, so its value is updated to 200, the value for that key from d2. However, there is no key 'd' in d1, so that key-value pair is added from d2.

<obj> may also be a sequence of key-value pairs, similar to when the dict() function is used to define a dictionary. For example, <obj> can be specified as a list of tuples:

In [62]:
d1 = {'a': 10, 'b': 20, 'c': 30}
d1.update([('b', 200), ('d', 400)])
d1

{'a': 10, 'b': 200, 'c': 30, 'd': 400}

Or the values to merge can be specified as a list of keyword arguments:

In [63]:
d1 = {'a': 10, 'b': 20, 'c': 30}
d1.update(b=200, d=400)
d1

{'a': 10, 'b': 200, 'c': 30, 'd': 400}

# **Practice**

### **Exercice1**: 
Write a Python script to add a key to a dictionary.

In [64]:
# code here

{0: 10, 1: 20}
{0: 10, 1: 20, 2: 30}

### **Exercice2**: 
Write a Python script to concatenate the following dictionaries to create a new one.

In [73]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}

# code here

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

### **Exercice3**: 
Write a Python program to check if value 200 exists in the following dictionary.

In [85]:
sample_dict = {'a': 100, 'b': 200, 'c': 300}
# code here

200 present in a dict

### **Exercice4**: 
Write a Python program to get the maximum and minimum values of a dictionary.

In [82]:
my_dict = {'x':500, 'y':5874, 'z': 560}
#code here

5874
500

### **Exercice5**: 
Write a Python program to sum all the items in a dictionary.

In [91]:
my_dict = {'data1':100,'data2':-54,'data3':247}

# code here

293

### **Exercice6**: 
Write a program to rename a key city to a location in the following dictionary.

In [90]:
sample_dict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}
# code here

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

### **Exercice7**: 
 Get the key of a minimum value from the following dictionary

In [100]:
sample_dict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}

# code here

'Math'

### **Exercice8**: 
 Get the key of a minimum value from the following dictionary

In [ ]:
sample_dict = {
  'Physics': 82,
  'Math': 65,
  'history': 75
}

# code here

### **Exercice9**: 
Write a Python program to change Brad’s salary to 8500 in the following dictionary.

In [103]:
sample_dict = {
    'emp1': {'name': 'Jhon', 'salary': 7500},
    'emp2': {'name': 'Emma', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 500}
}
# code here

{'emp1': {'name': 'Jhon', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 8500}}

### **Exercice10**: 
Write a Python program to map two lists into a dictionary.

# **Solutions**

### **Solution 1**:

In [ ]:
d = {0:10, 1:20}
print(d)
d.update({2:30})
print(d)

### **Solution 2**:

In [84]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic1.update(dic2)
dic1.update(dic3)
dic1

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

### **Solution 3**:

In [86]:
sample_dict = {'a': 100, 'b': 200, 'c': 300}
if 200 in sample_dict.values():
    print('200 present in a dict')

200 present in a dict

### **Solution 4**:

In [83]:
my_dict = {'x':500, 'y':5874, 'z': 560}
values =list(my_dict.values())
_max = max(values)
print(_max)
_min = min(values)
print(_min)

5874
500

### **Solution 5**:

In [79]:
my_dict = {'data1':100,'data2':-54,'data3':247}
values = list(my_dict.values())
print(sum(values))

293

### **Solution 6**:

In [92]:
sample_dict = {
  "name": "Kelly",
  "age":25,
  "salary": 8000,
  "city": "New york"
}
# get the value of city 
location = sample_dict['city']

# remove city 
sample_dict.pop('city')

# add the location 
sample_dict['location'] = location
print(sample_dict)

{'name': 'Kelly', 'age': 25, 'salary': 8000, 'location': 'New york'}

### **Solution 7**:

In [ ]:
# find the minimum value 
values =list(sample_dict.values())
_min = min(values)

# find the index of the minimum value
idx = values.index(_min)

# get the keys of the dictinary
keys = list(sample_dict)

# find the key of the minimim value
keys[idx]

### **Solution 8**:

In [101]:
# find the minimum value 
values =list(sample_dict.values())
_min = max(values)

# find the index of the minimum value
idx = values.index(_min)

# get the keys of the dictinary
keys = list(sample_dict)

# find the key of the minimim value
keys[idx]

'Physics'

### **Solution 9**:

In [105]:
sample_dict = {
    'emp1': {'name': 'Jhon', 'salary': 7500},
    'emp2': {'name': 'Emma', 'salary': 8000},
    'emp3': {'name': 'Brad', 'salary': 6500}
}

sample_dict['emp3']['salary'] = 8500
sample_dict

{'emp1': {'name': 'Jhon', 'salary': 7500},
 'emp2': {'name': 'Emma', 'salary': 8000},
 'emp3': {'name': 'Brad', 'salary': 8500}}

### **Solution 10**:

In [106]:
keys = ['red', 'green', 'blue']
values = ['#FF0000','#008000', '#0000FF']
color_dictionary = dict(zip(keys, values))
print(color_dictionary)

{'red': '#FF0000', 'green': '#008000', 'blue': '#0000FF'}